*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'monospace';
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Header */
.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color:#7a68eb;
    padding:  1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #7a68eb;
    z-index: 99;
} 

.navbar>div{
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    color: #7a68eb;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-icon-container{
    display:flex;
    align-items: center; 
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

nav ul li{
    color: white;
    margin-left: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}    
header{
    background-image: radial-gradient(#7a68eb, #7a68eb);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-center{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-center h2{
    font-size: 3.2rem;
    margin-bottom:  1.5rem;
}

.header-bottom-side-center p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button{
    background-color: #dad262;
    border:  none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: rgb(243, 246, 247);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: #004c94;
}
 
.galeria {
    display: flex;
}
.galeria img {
    margin: 5px;
    width: 200px;
}

main{
    background-color:#7a68eb;
    text-align: center;
}

.gray-background{
    background-color: #7a68eb;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}




